<!doctype html>
<html>
	<head>
		<title>Job Queue</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<style>
			table, th, td {
			    border: 0.5px solid black;
			    border-collapse: collapse;
			    width: 50%;
			    margin: 0px auto;
			    float: none;

			}

			table {
				margin-top: 35px;
			}
			th, td {
			    padding: 5px;
			    text-align: left;  
			}

			.small-margin {
				margin-top: 10px;
				margin-left: 15px;
			}
		</style>
	</head>
	<body>
	</body>

	<form action='/add_job' class='small-margin' method='POST' id='add_item_form'>
          URL<input type='text' id='url' name='url' required>
          <button type='submit'>Add Job</button>
 	</form>

 	<form action='/get_status' class='small-margin' method='POST' id='getJobStatus'>
          Job ID<input type='number' id='job_id' name='job_id' required>
          <button type='submit'>Get Job Status</button>
 	</form>
	<table style="width:70%">
		<tr>
			<th>
				Job ID
			</th>
			<th>
				URL
			</th>
			<th>
				Status
			</th>
			<th>
			</th>
			<th>
			</th>
		</tr>

		<div id='new_job'></div>

		{% for job in jobs %}
			<tr>
				<td>
					{{ job.job_id }}
				</td>
				<td>
					{{ job.url }}
				</td>
				<td id="{{ job.job_id }}">	
				</td>
				<td>
					<button type="button" id="view_status{{ job.job_id }}"> View Status</button>
				</td>
				<td>
					<button type="button" id="view_response{{ job.job_id }}"> View Response</button>
				</td>
				
			</tr>
		{% endfor %}
	</table>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/static/view_status.js"></script>
	<script src="/static/view_response.js"></script>
</html>